<div class="container">
  <div class="box">
    <h2><%= t(".title") %></h2>
    <p class="mt-3"><%= t(".info") %></p>
    <%= link_to t("form.reset_passwords.go_home"), redirect_path_after_reset, class: "button is-primary mt-3" %>
  </div>
</div>
