<div class="control">
  <label class="checkbox">
    <%= form.check_box "#{attribute_name}".to_sym, class:'checkbox', disabled: disable %>
    <%= t("forms.options_checkbox", option: attribute_name) %>
  </label>
</div>
