<% currency = Money::Currency.table.keys.map {|currency| currency.to_s.upcase} %>

<label class="label"><%= resource_class.human_attribute_name(attribute_name) %></label>
<% error = form.object.errors[attribute_name].first %>

<div class="control">
  <div class="select">
    <%= form.select attribute_name, options_for_select(currency, resource.send(attribute_name)), {}, input_html %>
  </div>
  <% if error.present? %>
    <p class="help is-danger"><%= error %></p>
  <% end %>
</div>
