<label class="file-label">
  <%= form.file_field "#{attribute_name}".to_sym,  accept: "image/png, image/jpg", multiple: false, data: { max_file_size: 1.megabytes }, class:'file-input'%>
  <span class="file-cta">
    <span class="file-icon">
      <i class="fas fa-upload"></i>
    </span>
    <span class="file-label">
      <%= t('form.choose_file') %>
    </span>
  </span>
</label>
