<% if flash.alert.present? || flash.notice.present? %>
  <div data-controller="notification" data-target="notification.notification" data-alert="<%= flash.alert %>" data-notice="<%= flash.notice %>"></div>
<% end %>
