 <% if flash.alert.present? || flash.notice.present? %>
      <article class="message <%= flash.alert.present? ? 'is-danger' : 'is-primary' %>">
        <div class="message-header">
          <p><%= flash.alert || flash.notice %></p>
          <button class="delete" aria-label="delete"></button>
        </div>
      </article>
    <% end %>
