<div class="columns">
  <div class="column is-half">
    <%= form_with(model: resource, url: resource.persisted? ? resource_path(resource) : collection_path, data: {controller: "remote-form", target: "remote-form.form entries.form", action: "submit->remote-form#didSubmit ajax:error->remote-form#formError"}) do |form| %>
      <div class="container" data-target="remote-form.notification">
      </div>

      <% form_attributes.each do |attribute_name, attribute_options|%>
        <% attributes = resource_attributes(attribute_options) %>

        <%= content_tag(:div, field_attributes(attributes)) do %>
          <%= render partial: "#{attributes.dig(:type)}",
            locals: { attribute_name: attribute_name,
                      form: form,
                      input_html: attributes.dig(:input_html),
                      options: attributes.dig(:options)} %>
        <% end %>
      <% end %>

      <%= render partial: "submit", locals: { form: form } %>

    <% end %>
  </div>
</div>
