<label class="label"><%= resource_class.human_attribute_name(attribute_name) %></label>
<% error = form.object.errors[attribute_name].first %>

<div class="control">
  <%= form.text_field attribute_name, options_for_input(attribute_name, input_html) %>
  <%= field_help(form.object, field: attribute_name) %>
  <% if error.present? %>
    <p class="help is-danger"><%= error %></p>
  <% end %>
</div>
