<label class="label"><%= resource_class.human_attribute_name(attribute_name) %></label>
<% error = form.object.errors[attribute_name].first %>
<div class="control">
  <%= form.password_field attribute_name, input_attributes(attribute_name, :input, input_html.delete(:class)).deep_merge(input_html) %>
  <% if error.present? %>
    <p class="help is-danger"><%= error %><p/>
  <% end %>
</div>
