 <div class="control">
    <label class="radio">
      <input type="radio" name="question">
      <%= t('forms.options_checkbox', option: "yes")%>
    </label>
    <label class="radio">
      <input type="radio" name="question">
      <%= t('forms.options_checkbox', option: "no")%>
    </label>
  </div>