<div class="control">
  <% attributes_options.each do |attribute|%>
    <% if attribute.keys[0] == attribute_name %>
      <% attribute.values[0].split(',') do |option|%>
        <label class="radio">
          <input type="radio" name="question">
          <%= t('form.options_checkbox', option: option)%>
        </label>
      <% end %>
    <%end%>
  <% end %>
</div>
