<div class="control">
  <% attributes_options.each do |attri|%>
    <% if attri.keys[0] == attribute_name %>
      <% attri.values[0].split(',') do |option|%>
        <label class="radio">
          <input type="radio" name="question">
          <%= t('forms.options_checkbox', option: option)%>
        </label>
      <% end %>
    <%end%>
  <% end %>
</div>
