<div class="control">
  <% options.each do |option| %>
    <label class="radio">
      <%= form.radio_button attribute_name, option, merge_resource_attributes({class: "checkbox"}, input_html)  %>
      <%= t('forms.options_checkbox', option: option)%>
    </label>
  <% end %>
</div>
