<tr data-id="<%= resource.id %>">
  <% list_attributes.each do |attribute| %>
    <td>
      <% if attribute == link_attribute %>
        <%= link_to attribute_value(resource[attribute]), resource_path(resource) %>
      <% else %>
        <%= attribute_value(resource[attribute] || resource.send(attribute)) %>
      <% end %>
    </td>
  <% end %>

  <% if current_user&.super_admin? || current_user&.is_admin?(current_organization) %>
    <%= render partial: "actions", locals: { resource: resource } %>
  <% end %>
</tr>
