<div class="control">
  <div class="select">
    <%= form.select "#{attribute_name}".to_sym, options_for_select(select_options(attribute_name)), {prompt: t('forms.dropdown_select', name_option: attribute_name)}, {}, input_html %>
  </div>
</div>
