<div class="control">
  <div class="select">
    <%= form.select "#{attribute_name}".to_sym, options_for_select(select_options(attribute_name)), {prompt: t('form.dropdown_select', name_option: attribute_name) } %>
  </div>
</div>
