<div class="control">
  <div class="select">
    <select>
      <option><%= t('forms.dropdown_select', name_option: attribute_name) %></option>
      <option><%= t("forms.dropdown_options", option: "pasar opciones disponibles") %></option>
    </select>
  </div>
</div>