<h2 class="title is-4"><%= edit_title %></h2>

<div class="columns">
  <div class="column is-half">
    <%= form_with(model: resource, local: true) do |form| %>
      <% form_attributes.each do |attribute_name, attribute_type|%>
        <div class="field">
          <%= render partial: "#{attribute_type}", locals: { attribute_name: attribute_name, form: form, disable: false} %>
        </div>
      <% end %>

      <%= render partial: "submit", locals: { form: form } %>
    <% end %>
  </div>
</div>
