<table class="table is-fullwidth is-hoverable">
<tr>
  <% list_attributes.each do |attribute| %>
    <th>
      <%= model_name.human_attribute_name(attribute) %>
    </th>
  <% end %>
    <% if session[:admin]%>
      <th class='has-text-right'>Actions</th>
    <% end %>
</tr>

  <tr>
    <% collection.each do |element| %> 
    <% list_attributes.each do |attribute| %>
      <td>
        <%= element[attribute] %>
      </td>
    <% end %>
    <% if session[:admin]%>
      <td class='has-text-right'>
        <%= render partial:'edit_button', locals: {path: "#{class_name.model_name.route_key}/#{element.id}"} %>
        <%= render partial:'delete_button', locals: {path: "#{class_name.model_name.route_key}/#{element.id}"} %></td>
      </td>
    <% end %>
  </tr>
  <% end %>
</table>
