<h2><%= t("new.resource", name: resource.model_name.human) %></h2>
<%= form_with model: resource do |form| %>
  <% form_new_attributes.each do |attribute_name, attribute_type|%>
    <div class="field">
      <label class="label"><%= t("new.attribute", attribute: attribute_name.to_s.humanize) %></label>
      <%= render partial: "form/#{attribute_type}" %>
    </div>
  <% end %>
<% end %>
