<h2 class="title is-4"><%= t("new_resource", resource_name: model_human_name(resource_class, plural: false)) %></h2>

<div class="columns">
  <div class="column is-half">
    <%= form_with(model: resource, local: true) do |form|%>
      <% form_attributes.each do |attribute_name, attribute_type|%>
        <div class="field">
          <%= render partial: "#{attribute_type}", locals: { attribute_name: attribute_name, form: form } %>
        </div>
      <% end %>

      <%= render partial: "submit", locals: { form: form } %>
    <% end %>
  </div>
</div>
