<h2 class='subtitle'><%= t("new.resource", name: resource_show.model_name.human) %></h2>
<div class='columns'>
  <div class='column is-four-fifths'>
    <%=form_for(resource_show, as: resource_show) do |form|%>
      <% form_show_attributes.each do |attribute_name, attribute_type|%>
        <div class="field column">
          <label class="label"><%= t("new.attribute", attribute: attribute_name.to_s.humanize) %></label>
          <%= render partial: "#{attribute_type}", locals: { attribute_name: attribute_name, form: form, disable: true} %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
