@charset "utf-8";

@import "~bulma/sass/utilities/_all.sass";

@import "~bulma/sass/base/_all.sass";
@import "~bulma/sass/elements/button.sass";
@import "~bulma/sass/elements/container.sass";
@import "~bulma/sass/elements/title.sass";
@import "~bulma/sass/elements/table.sass";
@import "~bulma/sass/form/_all.sass";
@import "~bulma/sass/components/navbar.sass";
@import "~bulma/sass/components/level.sass";
@import "~bulma/sass/components/pagination.sass";
@import "~bulma/sass/layout/_all.sass";

.has-margin-top-1 {
  margin-top: 2rem;
}

h6.pagination-info {
  font-weight: bold;
  font-style: italic;
  text-align: center;
}

.pagination-list {
  margin-top: 2rem;
}
