@charset "utf-8";

@import "~bulma/bulma";
@import "trix/dist/trix";

.has-margin-top-1 {
  margin-top: 2rem;
}

h6.pagination-info {
  font-weight: bold;
  font-style: italic;
  text-align: center;
}

.pagination-list {
  margin-top: 2rem;
}
